.env
backend/.env
.venv/
backend/.venv/
.python-version
__pycache__/
*.py[cod]
*.sqlite3
staticfiles/
backend/staticfiles/
media/
backend/media/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/
node_modules/
.pnpm-store/
.nuxt/
.output/
.next/
backend/static/dist/*
!backend/static/dist/.gitkeep
*.egg-info/
dist/
build/
.idea/
.vscode/
